@page "/repositories/{Id:long}/deploy"

@attribute [Authorize]

@using System.Text.Json
@using Cointributors.Data
@using Cointributors.Web.Components.Account
@using Microsoft.AspNetCore.Authorization
@using Octokit
@using Cointributors.Web.Client.Pages
@using Cointributors.Web.Data

@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject DataContext DataContext

<PageTitle>Deployment</PageTitle>

<h1>Deployment</h1>

<p>Deploy your smart contract.</p>

<DeployContract></DeployContract>

@code {

    [Parameter]
    public long Id { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private GitHubClient gitHubClient;

    protected override async Task OnInitializedAsync()
    {
        var accessToken = await UserAccessor.GetGitHubAccessToken(HttpContext);

        gitHubClient = new GitHubClient(new ProductHeaderValue("cointributors"))
        {
            Credentials = new Credentials(accessToken)
        };

        var repository = await gitHubClient.Repository.Get(Id);

        var cointributorsBytes = await gitHubClient.Repository.Content.GetRawContent(repository.Owner.Login, repository.Name, "cointributors.json");

        var dependencyRepositoryCointributors = JsonSerializer.Deserialize<CointributorsData>(cointributorsBytes);

    }
}