@page "/"

<PageTitle>Cointributors</PageTitle>

<div class="container-sm coin-small home-page">

    <img class="mb-6" src="/images/logo-no-background-side-by-side.png" alt="Cointributors" style="width: 100%">

    <p class="mt-3">If you came to figure out how Cointributors works, you came to the right place</p>

    <div class="row mt-4">
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <img class="wbi" src="images/worldid-color.svg" height="26" />
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Verify with World ID and add your Gist Address</h3>
                <p>
                    Follow the <a href="add-address-gist">link</a> to ensure you have Gist Address,
                    this is where your cointributions will be delivered
                </p>
                <p class="text-secondary">
                    If it wasn't obvious from the name the Address is saved to your GitHub as a Gist
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-github"></i>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Select one of your GitHub Repos</h3>
                <p>
                    Select one of your GitHub repos which deem worthy for donations. 
                </p>
                <p>
                    We will present you with a list of contributors and dependencies which have a Gist Address.
                </p>
                <p>
                    To get the dependencies when scan your repo for package manager files
                </p>
                <div>
                    <img class="mb-2" src="/images/package-managers.png" alt="Package Managers" style="width: 100%">
                </div>
                <p class="text-secondary">
                    We promise at least one of these is implemented (partially)
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-5">
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-send-check-fill"></i>
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Deploy and Display</h3>
                <p>
                    Select the fair allocations and deploy your Cointribution smart contract
                </p>
                <p>
                    Add your Cointribution Badge to your GitHub page and wait patiently (very patiently)
                </p>
            </div>
        </div>
    </div>
</div>

