@page "/repositories"

@attribute [Authorize]

@using Cointributors.Data
@using Cointributors.Web.Components.Account
@using Microsoft.AspNetCore.Authorization
@using Octokit

@inject IdentityUserAccessor UserAccessor
@inject DataContext DataContext

<PageTitle>Repositories</PageTitle>

<h1>Repositories</h1>

<p>Select the repository with the best cointributors.</p>


@if (repositories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var repository in repositories)
            {
                <tr>
                    <td>@repository.Name</td>
                    <td>
                        <a href="/repositories/@repository.Id">Select</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private GitHubClient gitHubClient;

    private IReadOnlyList<Repository> repositories;

    protected override async Task OnInitializedAsync()
    {
        var accessToken = await UserAccessor.GetGitHubAccessToken(HttpContext);

        gitHubClient = new GitHubClient(new ProductHeaderValue("cointributors"))
            {
                Credentials = new Credentials(accessToken)
            };

        repositories = await gitHubClient.Repository.GetAllForCurrent();
    }
}
